@model Frapid.Reports.ViewModels.ParameterMeta

@{
    ViewBag.Title = "Frapid Dashboard";
    Layout = ViewBag.Layout;
}


<style>
    #dashboard-container {
        padding: 1em 0 !important;
    }

    .padded.container {
        padding: 2em !important;
    }

    .collapsed.column {
        padding: 0 !important;
    }

    .pusher, .ng-scope {
        height: 100% !important;
    }

    .report-panel {
        background-color: #949596;
        padding-bottom: 4em;
    }

    .toolbar {
        background-color: #444;
        height: 3em;
        padding-left: 1em;
        text-align: left;
    }

        .toolbar .button {
            color: #dadada;
            cursor: pointer;
            display: inline-flex;
            font-size: 0.8em;
            height: 3.5em;
            margin: 2px;
            padding: 0.8em;
            text-shadow: 2px 2px 20px white;
            width: 2.5em;
        }

            .toolbar .button:hover {
                background-color: green;
            }

    iframe {
        background-color: #fafafa;
        border: none;
        display: block;
        height: 100%;
        margin: 0 auto;
        overflow: auto;
        padding: 2em 2em 0 2em;
        width: 1000px;
    }

    .vertically.very.relaxed {
        padding: 3em 0;
    }

    .filter.container {
        padding: 1em;
    }

    .report.title {
        font-size: 1.2em !important;
        padding: 0 0 1em 0;
        font-weight: 600;
        text-transform: uppercase;
        color: #666;
    }
</style>
<div class="report-panel">
    <div class="ui stackable report grid" style="height: 100%;">
        <div class="three wide collapsed column">
            <div class="toolbar">
                <div onclick="$('iframe').get(0).contentWindow.print();" class="print button" title="Print This Report">
                    <i class="print icon"></i>
                </div>
                <div class="mail button" title="Email This Report">
                    <i class="mail icon"></i>
                </div>
                <div class="pdf button" title="Download PDF">
                    <i class="file pdf outline icon"></i>
                </div>
                <div class="excel button" title="Download Excel">
                    <i class="file excel outline icon"></i>
                </div>
                <div class="word button" title="Download Word">
                    <i class="file word outline icon"></i>
                </div>
                <div class="xml button" title="Download XML">
                    <i class="code icon"></i>
                </div>
                <div class="text button" title="Download Text">
                    <i class="file text outline icon"></i>
                </div>
                <div class="zoom in button" title="Zoom In">
                    <i class="zoom icon"></i>
                </div>
                <div class="zoom out button" title="Zoom Out">
                    <i class="zoom icon"></i>
                </div>
                <div onclick="document.location = document.location" class="refresh button" title="Refresh">
                    <i class="refresh icon"></i>
                </div>
            </div>
            <div class="filter padded container" style="background-color: #efefef; height: 100%;">
                <div class="report title">@Model.ReportTitle</div>

                <div class="ui small parameter form">
                    @foreach (var parameter in Model.Parameters)
                    {
                        string name = parameter.Name.Replace("@", "");

                        <div class="field">
                            <label>@parameter.FieldLabel</label>

                            @if (!string.IsNullOrWhiteSpace(parameter.PopulateFrom))
                            {
                                <select data-paramter="@name" id="@(name)Select"
                                        class="ui search dropdown"
                                        data-key-field="@parameter.KeyField"
                                        data-value-field="@parameter.ValueField"
                                        data-default-value="@parameter.DefaultValue"
                                        data-url="@parameter.PopulateFrom" data-optional="@parameter.Optional.ToString().ToLowerInvariant()"></select>
                            }
                            else
                            {
                                switch (parameter.Type.ToUpperInvariant())
                                {
                                    case "SYSTEM.DATETIME":
                                        <input data-paramter="@name" id="@(name)InputDate" value="@parameter.DefaultValue" class="date" type="date" />
                                        break;
                                    case "BOOL":
                                    case "BOOLEAN":
                                        <div class="ui toggle checkbox">
                                            <input data-paramter="@name" id="@(name)InputDate" value="@parameter.DefaultValue" type="checkbox">
                                            <label>Yes</label>
                                        </div>
                                        break;
                                    case "DECIMAL":
                                    case "DOUBLE":
                                        <input data-paramter="@name" id="@(name)InputText" value="@parameter.DefaultValue" type="text" class="decimal" data-number="" />
                                        break;
                                    case "INT":
                                    case "LONG":
                                        <input data-paramter="@name" id="@(name)InputText" value="@parameter.DefaultValue" type="text" class="integer" data-number="" />
                                        break;
                                    default:
                                        <input data-paramter="@name" id="@(name)InputText" value="@parameter.DefaultValue" type="text" />
                                        break;
                                }
                            }
                        </div>
                    }
                    <button id="ShowButton" class="ui positive button">Show</button>
                </div>
            </div>
        </div>
        <div class="thirteen wide column">
            <iframe src="@Model.ReportSourcePath"></iframe>
        </div>
    </div>
</div>
<script>
    $(".dropdown").dropdown();
    loadDatepicker();

    (function () {
        const persist = JSON.parse(localStorage.getItem(document.location.pathname));

        if (persist) {
            $.each(persist, function () {
                const el = $(`#${this.id}`);
                const value = this.value;
                var defaultValue;

                if (el.is("select")) {
                    defaultValue = el.attr("data-default-value");

                    if (!defaultValue) {
                        el.attr("data-default-value", value);
                    };
                } else {
                    defaultValue = el.val();
                    if (!defaultValue) {

                        if (el.is(".date")) {
                            const date = new Date(value);

                            el.datepicker("setDate", date);
                        } else {
                            el.val(value);
                        };
                    };
                };

            });
        };

        const candidates = $("select[data-url]");

        $.each(candidates, function () {
            var el = $(this);
            const url = el.attr("data-url");
            const keyField = el.attr("data-key-field");
            const valueField = el.attr("data-value-field");
            var defaultValue = el.attr("data-default-value");
            const optional = el.attr("data-optional").toLowerCase().indexOf("t") > -1;


            window.ajaxDataBind(url, el, null, defaultValue, null, function () {
                setTimeout(function () {

                    if (defaultValue) {
                        el.dropdown("set selected", defaultValue);
                    };

                    if (optional) {
                        el.prepend("<option value='null'>Select</option>");

                        if (defaultValue === "0") {
                            el.dropdown("set text", "Select");
                        };
                    };
                }, 100);

            }, keyField, valueField, false);
        });
    })();

    $("#ShowButton").off("click").on("click", function () {
        var persist = [];

        var query = [];

        const dateEls = $(".parameter.form .field input.date");

        $.each(dateEls, function () {
            const el = $(this);
            const parameter = el.attr("data-paramter");
            const value = el.datepicker("getDate").valueOf();
            const id = el.attr("id");

            persist.push({
                id: id,
                value: value
            });

            if (parameter) {
                query.push(parameter + "=" + value);
            };
        });

        const otherEls = $(".parameter.form .field input:not(.date), .parameter.form .field select");

        $.each(otherEls, function () {
            const el = $(this);
            const parameter = el.attr("data-paramter");
            const value = el.val();

            const id = el.attr("id");

            persist.push({
                id: id,
                value: value
            });

            if (parameter) {
                query.push(parameter + "=" + value);
            };
        });

        localStorage.setItem(document.location.pathname, JSON.stringify(persist));

        const location = document.location.pathname + "?" + query.join("&");
        document.location = location;
    });
</script>