@using Frapid.i18n
@using Frapid.i18n.Resources
@model Frapid.Account.ViewModels.SignIn

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Frapid Framework" />
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" type="text/css" />
    <title>
        @Titles.SignIn
    </title>
    @if (CultureManager.IsRtl())
    {

        <link rel="Stylesheet" href="@Href("~/bundles/master-page-rtl.css")" />
    }
    else
    {

        <link rel="Stylesheet" href="@Href("~/bundles/master-page.css")" />
    }

    <meta name="google-signin-scope" content="@Model.GoogleSignInScope">
    <meta name="google-signin-client_id" content="@Model.GoogleSigninClientId">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/i18n/resources.js"></script>
    <script src="/bundles/backend.js"></script>
    <script src="/Scripts/jssha1.5/src/sha.js"></script>
    <script src="/Scripts/frapid/utitlities/form.js"></script>
    <script src="/Scripts/frapid/utitlities/validator.js"></script>
</head>
<body id="SignInBody">
    <div id="signin-form">
        <div class="ui attached stackable padded segment" id="SignInSegment">
            <img class="ui small image" src="/Static/images/logo.png">
            <div class="ui big error large dividing header vpad8"></div>
            <div class="ui toggle checkbox vpad8">
                <input id="SocialLoginCheckbox" type="checkbox">
                <label for="SocialLoginCheckbox">Social Login</label>
            </div>
            <div class="ui stackable login form" id="LoginForm">
                <div class="field">
                    <label for="EmailInputEmail">Email Address</label>
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input id="EmailInputEmail" placeholder="Email"
                               autocapitalize="off" autocorrect="off" type="email" required="" />
                    </div>
                </div>
                <div class="field">
                    <label for="PasswordInputPassword">Password</label>
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input id="PasswordInputPassword" placeholder="Password" type="password" required="" />
                    </div>
                </div>
                <div class="field">
                    <label for="OfficeIdSelect">Select Office</label>
                    <select class="ui search office dropdown" id="OfficeIdSelect" required=""></select>
                </div>
                <div class="field">
                    <label for="CultureSelect">Select Language</label>
                    <select class="ui search language dropdown" id="CultureSelect" required=""></select>
                </div>
                <div class="field">
                    <input type="hidden" id="ChallengeInputHidden"
                           value="@Model.Challenge" />
                </div>
                <div class="ui buttons">
                    <button id="SignInButton" title="CRTL + RETURN" class="ui grey button" type="button">
                        Sign In
                    </button>
                    <a class="ui button" href="/">Cancel</a>
                </div>
                <div class="exception field"></div>
            </div>
            <div id="SocialLoginForm" class="ui login form" style="display: none;">
                <div class="field">
                    <label for="SocialOfficeSelect">Select Office</label>
                    <select class="ui search office dropdown" id="SocialOfficeSelect"></select>
                </div>
                <div class="field">
                    <label for="SocialLanguageSelect">Select Language</label>
                    <select class="ui search language dropdown" id="SocialLanguageSelect"></select>
                </div>
                <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"
                     data-width="134px" data-height="32"></div>
                <div class="tpad8"></div>
                <div class="ui facebook fluid button" id="FacebookButton" style="width: 134px;">
                    <i class="facebook icon"></i>Facebook

                </div>
            </div>
            <div class="ui breadcrumb vpad8">
                <a class="section" href="/account/sign-up">Create an Account</a>
                <div class="divider"> / </div>
                <a class="section" href="/account/reset">Reset My Password</a>
            </div>
        </div>
    </div>
    <script>
        var fbAppId = '@Model.FacebookAppId';
        var fbScope = '@Model.FacebookScope';
    </script>
    <div id="fb-root"></div>
    <script src="/Areas/Frapid.Account/Scripts/Account/SignIn/default.js"></script>
    <script src="/Areas/Frapid.Account/Scripts/Account/SignIn/facebook.js"></script>
    <script src="/Areas/Frapid.Account/Scripts/Account/SignIn/google.js"></script>
</body>
</html>